body {
  background-color: #fff3e6;
  font-family: "Georgia", serif;
}

h1.title {
  font-size: 3rem;
  color: #0b3954;
  text-align: center;
  margin-bottom: 0;
}

h2.subtitle {
  text-align: center;
  font-weight: 400;
  color: #1f5673;
}

p.author {
  text-align: center;
  margin-top: 10px;
  color: #333;
}
